/* spacings */
$space: 1rem;

/* color scheme */
$backgroundColor: white;
/* $primaryLightColor: white;
$secondaryLightColor: white;
$primaryDarkColor: black;
$secondaryDarkColor: black; */
$textColor: black;